* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.grid-header {
  flex-shrink: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.grid-sidebar {
  grid-column: span 2;
  background-color: #FFF0F0;
  border-right: 1px dashed #FFCDCD;
  height: 100%;
  overflow: hidden;
}

.grid-content {
  grid-column: span 10;
  background-color: #f9f9f9;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

.page-body {
  flex: 1;
  display: flex;          /* Bật flex để điều khiển con bên trong */
  flex-direction: column;
  overflow: hidden;       /* Khóa cuộn trang tổng */
  min-height: 0;          /* Bắt buộc có để ép co giãn đúng chuẩn */
}

.grid-footer {
  flex: 0 0 auto;
  background-color: #ffffff;
  border-top: 1px solid #eee;
  padding: 15px 40px; /* Chỉnh lại padding trái/phải cho vừa vặn với content */
  color: #666;
  font-size: 13px;
  z-index: 10;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-right {
  text-align: right;
  line-height: 1.6;
  
}

@media (max-width: 992px) {
  .grid-sidebar { grid-column: span 4; }
  .grid-content { grid-column: span 8; }
}

@media (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .grid-sidebar {
    height: auto;
    overflow: hidden;
  }
  .grid-footer {
    padding: 15px 20px;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .footer-right {
    text-align: center;
  }
}